* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

header {
    width: 100%;
    height: auto;    
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(220, 20, 60);
    background-size: cover;
}

.logo {
    background-image: url('logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180px 50px;
    width: 180px;
    height: 80px;
}

.menu {
    padding: 0 10% 0 10%;    
    width: 80%;
    height: 100px;
    background-color: rgb(190, 3, 41);
    box-shadow: 0 0 0 1px rgb(148, 2, 33);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Muli;
    color: #ffffff;    
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.menu li {
    list-style: none;
}

.menu li:hover {
    border-bottom: 1px solid #ffffff;
}

.fixed {
    position: fixed;
    background-color: rgba(190, 3, 50, 0.829);    
}

.title {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding: 0 10% 0 10%;
    background-color: rgb(220, 20, 60);
    font-family: Muli;  
}

.title h1 {
    color: #ffffff;
    white-space: nowrap;
    margin-bottom: 10px;
}

.title p {
    text-align: center;
    color: #ffffff;
}

.about {
    width: 80%;
    height: 80px;
    margin: 0 10% 0 10%;
    background-color:#f1f1f1;
    box-shadow: 1px -5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Muli;
    white-space: nowrap;
}

.about h2 {
    color: rgb(0, 0, 0);
}

.inform {
    height: 280px;
    font-family: Muli;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
}

.inform p {
    text-align: center;
    max-width: 600px;
    width: 80%;
    margin: 120px 10% 0 10%;
}

.orphanage {
    width: 80%;
    height: 80px;
    margin: 0 10% 100px 10%;
    background-color:#f1f1f1;
    box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
}

.orphanage h2 {
    color: rgb(0, 0, 0);
}

.states {
    width: 70%;
    padding: 0 15% 0 15%;
    margin-bottom: 50px;
}

.states select {
    background-color: #dfdfdf;
    height: 30px;
    width: 220px;
    border: none;
    font-family: Muli;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}

.donate {
    height: auto;
    width: 100%;
    background-color: #dfdfdf;
    font-family: Muli;
}

.box-orphanage {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 12.5% 0 12.5%;
}

.box {
    width: 200px;
    height: 280px;
    margin: 0 0 60px 25px;
    padding: 10px;
    background-color: #dfdfdf;
    border: 1px solid #c0c0c0;
    font-family: Muli;
    border-radius: 10px;
    overflow: hidden;
}

.box p {
    margin-bottom: 15px;
}

.box h3 {
    font-family: Muli;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.box .address {
    margin: 0;
    font-weight: 600;
}

.box .msg {
    margin: 0;
    font-weight: 600;    
}

.help {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 1px -5px 10px 0 rgba(0, 0, 0, 0.2);    
}

.help h3 {
    margin-bottom: 20px;
}

.help a {
    width: 350px;
    height: 60px;
    background-color: rgb(220, 20, 60);
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    font-family: Muli;
    margin-bottom: -45px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer {
    width: 100%;
    height: auto;
    background-color: #3d3d3d;
    font-family: Muli;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 0 10px 0;
}

footer hr {
    width: 70%;
    margin: 0 15% 20px 15%;
    border: none;
    border-bottom: 1px solid #292929;     
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.content-footer {
    width: 80%;
    margin: 0 10% 0 10%;
    height: 380px;
    padding: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.fb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.register {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.register h3 {
    font-size: 30px;
    white-space: nowrap;    
}

.register a {
    margin-top: 20px;
    width: 280px;
    height: 80px;
    background-color: rgb(220, 20, 60);    
    box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.2);   
    border: 1px solid #3d3d3d ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 30px;
    color: #ffffff;
}

@media (max-width: 400px) {
    .box {
        margin: 0 5% 50px 5%;
    }
}

@media (max-width: 450px) {
    .inform p {
    margin: 80px 10% 0 10%;
    }

    .menu li {
        display: none;
    }

    .help a {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .menu { 
        justify-content: center;
    }

    .menu li {
        display: none;
    }

    .logo {
        min-width: 100px;
    }
}

@media (max-width: 800px) {
    .fb {
        display: none;
        width: 0;
    }

    .register {
        width: 100%;
    }
}